@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,200;1,400;1,700&display=swap');
:root{
    --body-background:#f5d9d5;
    --primary-text-color:#ea1c2c;
} 
::-webkit-scrollbar{
    width: 20px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track{
    background-color: var(--body-background);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-text-color);
}
#main-navbar:scroll
body{
    background-color: var(--body-background);
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
#main-navbar, a#logo{
    font-weight: 100;
    font-size: 1.5rem;
}
a#logo{
    color: var(--primary-text-color);
}
#navbarSupportedContent ul li a{
    color: white;
}
#navbarSupportedContent ul li a.nav-link:hover{
    color: var(--primary-text-color);
}
#moc-list{
    list-style: none;
    padding: 0%;
}
#moc{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    
}
#header-img{
    
    background: center/cover url(/images/heather-ford-Fq54FqucgCE-unsplash.jpg);
}
span.slash{
    color: var(--primary-text-color);
}
#section-2-content, #section-3-content, #section-4-content, #section-5-content{
    color: var(--primary-text-color);
    align-items: center;
    
}
#section-2-content h3, #section-3-content h3, #section-4-content h3, #section-5-content h3{
    text-transform: capitalize;
}
#section-3-content{
    padding-top:
}
div#section-2-img-1 {
    background: center/cover url(/images/towfiqu-barbhuiya-V4Kx2NoZ3dE-unsplash.jpg);
}
div#section-2-img-2 {
    background: center/cover url(/images/towfiqu-barbhuiya-V4Kx2NoZ3dE-unsplash.jpg);
}
div#section-3-img{
    background: center/cover url(/images/elena-koycheva-PFzy4N0_R3M-unsplash.jpg);
    min-height: 45vh;
}
div#section-4-img-1, div#section-4-img-2{
    background: center/cover url(/images/ian-dooley-TLD6iCOlyb0-unsplash.jpg);
}
div#section-5-img{
    background: center/cover url(/images/la-albuquerque--xq5BTa2vSk-unsplash.jpg);
}
@media (max-width:800px){
    #moc{
        font-size: 1.75rem;
    }
}
@media (max-width:712px){
    #moc{
        font-size: 1.5rem;
    }
}
@media(max-width:575px){
    #header-heading{
        display: none;
    }
    #header-img{
        height: 60vh;
    }
    #section-2-img-1{
        display: none;
    }
    #section-2-img-2{
        height: 50vh;
    }
    #section-4-img-1{
        display: none;
    }
    #section-4-img-2{
        height: 50vh;
    }
    #section-5-img{
        height: 50vh;
    }

}
@media(min-width:575px){
    #section-2-img-2{
        display: none;
    }
    #section-4-img-2{
        display: none;
    }
    #section-2-content{
        padding-top:7rem!important;
        min-height: 50vh;
        padding-bottom: 5rem !important;
    }
    #section-3-content{
        padding-top: 7rem !important;
        padding-bottom: 5rem !important;
    }
    #section-4-content{
        min-height: 40vh;
        padding-top: 6rem!important;
        padding-bottom: 5rem !important;
    }
    #section-5-content{
        min-height: 40vh;
        padding-top: 6rem !important;
    }
    #section-2-img-1, #section-2-img-2, #section-3-img{
        
    }
}
